*.ap_
*.apk
*.bak
*.dex
*.iml
*.jks
*.log
*.swp
*.tmp
*.class
*.launch
*.pydevproject
.idea
.gradle
.target
.project
.cproject
.loadpath
.metadata
.settings
.texlipse
.buildpath
.classpath
.navigation
.factorypath
.springBeans
.recommenders
.tern-project
.externalNativeBuild
.externalToolBuilders
bin
gen
out
tmp
temp
build
gradle
target
captures
proguard
local.properties